
:root{
    --minSize:50;
    --maxSize:150;
    box-sizing: border-box;
}

html{
    background-color:  rgb(216, 216, 216);
}

body{
    border: 1px solid black;
    
    overflow: hidden;
    
}
    
.title{
    text-align: center;
    padding: 3%;
    width: 75%;
    font-size: 4rem;
    color:rgb(238, 105, 28);
    font-family: fantasy;
    border: 1px solid green;
    margin: auto;

}    



.container{
    align-items: stretch;
    text-align: stretch;
    border: 1px solid rgb(0, 255, 0);
    min-height: 500px;
    min-width: 375px;
    max-width: 500px;
    background-color:  rgb(81, 73, 81);
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    margin-top: 2%
    }

.display{
    padding: 10px 10px;
    background-color: rgb(114, 231, 231);
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 2rem 0 2rem;   
}

.container-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "button_Clear button_Division button_Multiply button_Substract"
    "button7 button8 button9 button_Add"
    "button4 button5 button6 button_Add"
    "button3 button2 button1 button_Equal"
    "button0 button0 button_Decimal button_Equal";
    padding: 0px;
    border: 2rem solid rgb(81, 73, 81);
    place-items:stretch ;
    place-content: stretch;
    min-height: 400px ;
    
}

.button{
    text-align: center;
    border: 1px solid magenta;

}

.btn-operands{
    background-color: blueviolet;
    color: aqua;
}

.btn-numbers{
    background-color: aqua;
}

#button_Clear{
    grid-area:button_Clear;
}
#button_Division{
    grid-area:button_Division;
}
#button_Multiply{
    grid-area:button_Multiply;
}
#button_Substract{
    grid-area:button_Substract;
}
#button_Add{
    grid-area:button_Add;
}
#button_Equal{
    grid-area:button_Equal;
}
#button_Decimal{
    grid-area:button_Decimal;
}
#button7{
    grid-area:button7;
}
#button8{
    grid-area:button8;
}
#button9{
    grid-area:button9;
}
#button4{
    grid-area:button4;
}
#button5{
    grid-area:button5;
}
#button6{
    grid-area:button6;
}
#button1{
    grid-area:button1;
}
#button2{
    grid-area:button2;
}
#button3{
    grid-area:button3;
}
#button0{
    grid-area:button0;
}